<html>
  <head>
      <title>Bose</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
  </head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="js/clusters.js"></script>
  <script src="js/pies.js"></script>
  <script src="js/VideoFrame.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <body>
    <div class="ui secondary pointing menu">
      <a class="active item">
        MagentaGo
      </a>
    </div>
    <div class="ui grid">
      <div class="twelve wide column">


          <!-- <svg id="clusters" width="100%" height="50%"></svg> -->
          

          <div id="video_box">
              <img id="apple" src="assets/apple.png"/>
              <img id="samsung" src="assets/samsung.png"/>
              <img id="lg" src="assets/lg.png"/>
              <img id="iphonex" class="phone" style="left:200; bottom:380;" src="assets/phone.png"/>
              <span class="phone" style="left:200; bottom:380;">G7</span>
              <img id="video_overlays"/>
              <div>
                  <video id="video" loop autoplay width="960" height="540" >
                      <!-- <source src="output.avi" type="video/avi"> -->
                      <source src="assets/final.mp4" type="video/mp4"> 
                  </video>
              </div>
          </div>
        
          
          <div style="width: 100%; overflow: hidden;">

            <div style="width: 500px; float: left;"> 
                <svg id="company" width="100%" height="10%"></svg>
             </div>
            <div style="margin-left: 520px;"> 
                <svg id="device" width="100%" height="10%"></svg> 
            </div>
          </div>
      </div>
      <div class="four wide column centered">
       
        <div id="cardList" style="height: 80%; overflow: hidden;">
          <div class="ui list" id="actualList">
          </div>
        </div>
      </div>
    </div>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/tmobile.js"></script>

    <script>

      selected = []


      function updateClusters1() {
        var numClusters = $("#numClusters").val();
        $.get( "/cluster?num=" + numClusters, function( data ) {
          clearClusters()
          visualizeClusters(JSON.parse(data), selected)
        });
      }
      var selected = undefined;
      function updatePeople(people) {
        
        var list = document.createElement('div');
        list.className="ui list";
        list.id="actualList";
        list.style="height: 100%;overflow: hidden;padding: 10px;";

        //people = ['Ethan Tien', 'Chaitya Shah']
        // frame id and stuff


        // for(var i = 0; i < selected.length; i++) {
        //   if (selected[i].data.courtCases != "None") {
        //     people.push(selected[i]);
        //   }
        // }

        // var len = selected.length;
        // if (selected.length > 15) {
        //   len = 15;
        // }
        // var count = courtsList.length
        // while (count < 15 && count < selected.length) {
        //   if (selected[count].data.courtCases === "None") {
        //     courtsList.push(selected[count]);
        //   }
        //   count++;
        // }
        
        for(var i = 0; i < people.length; i++) {
            // Create the list item:
            var item = document.createElement('div');
            item.className="pink ui card"
            item.id = people[i].id;
            if (selected == people[i].id) {
                item.style = "background-color: #D9499A"
            }
            var content = document.createElement('div');
            content.className="content"
            var header = document.createElement('div');
            header.className="header"
            header.appendChild(document.createTextNode(people[i].name + " (" + people[i].id + ")"));
            header.id = people[i].id;
            var desc = document.createElement('div');
            desc.className="description";
            var descrip = "Phone Number: "+ people[i].phone;
            desc.appendChild(document.createTextNode(descrip));
            desc.id = people[i].id;

            var desc1 = document.createElement('div');
            desc1.className="description";
            var descrip1 = "Email: " + people[i].email;
            desc1.id = people[i].id;
            desc1.appendChild(document.createTextNode(descrip1));
            content.appendChild(header);
            content.appendChild(desc);
            content.appendChild(desc1);


            item.onclick = function(event){
                if (selected == event.srcElement.id) {
                    selected = undefined;
                } else {
                    selected = event.srcElement.id;
                }
                var elements = document.getElementsByClassName("pink ui card");
                elements = Array.from(elements);
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].id == event.srcElement.id) {
                        elements[i].style = "background-color: #D9499A"
                    } else {
                        elements[i].style = ""
                    }
                }
                //alert(event.srcElement.id);
                
            }
            item.appendChild(content);
            // Add it to the list:
            list.appendChild(item);
        }
        //console.log(people);
        // Finally, return the constructed list:

        $("#actualList").replaceWith(list);

      }


      data = {};
      visualizeClusters(data, selected);
      //visualizeHist([]);

      updatePeople();
      //visualizeHist(selected);
    </script>
  </body>
</html>
