<html>
  <head>
      <title>Bose</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
  </head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  
  <script src="js/pies.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>


  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  
  <body style="background: #212121">
    <div class="ui secondary pointing menu" style="background: #303030;margin-bottom: 0px;"">
      <a class="active item" style="color: white">
        Bose
      </a>
    </div>
    <div class="ui padded grid">
      <div class="twelve wide column">
        <div class="ui three column grid">
          <div class="column">
            <div class="ui raised fluid card">
              <div class="content">
                <div class="header">Your Genres</div>
                <div class="description">
                    <svg id="company"></svg>
                </div>
              </div>
          </div>
        </div>
        <div class="column">
            <div class="ui raised fluid card">
              <div class="content">
                <div class="header">Mood</div>
                <div class="description">
                    <div id="power-gauge"></div>
                </div>
              </div>
          </div>
        </div>
        <div class="column">
            <div class="ui raised fluid card">
                <div class="content">
                  <div class="header">Your Top Songs</div>
                  <div id="top_songs" class="description">
                  </div>
                </div>
              </div>
        </div>
        </div>
        <div class="ui two column grid">
        <div class="column">
            <div class="ui raised fluid card">
                <div class="content">
                  <!--<svg id="hist"></svg>-->
                  <div id="linechart"></div>
                  </div>
                </div>
              </div>
              <div class="column">
                  <div class="ui raised fluid card">
                      <div class="content">
                        <!--<svg id="hist"></svg>-->
                        <div id="linechart1"></div>
                        </div>
                      </div>
                    </div>
        </div>
       
        </div>

      <div class="four wide column centered">
        <div id="cardList" style="height: 100%; overflow: hidden;">
          <div class="ui list" id="actualList">
          </div>
        </div>
      </div>
    </div>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/histogram.js"></script>
    <script src="js/linechart.js"></script>
    <script src="js/gauge.js"></script>
    <script src="js/bose.js"></script>
    

    <script>


      var selected = undefined;
      function updatePeople(people) {
        selected = people[0];
        displayPies(selected);
        var list = document.createElement('div');
        list.className="ui list";
        list.id="actualList";
        list.style="height: 100%;overflow: hidden;padding: 10px;";

        for(var i = 0; i < people.length; i++) {
            // Create the list item:
            var item = document.createElement('div');
            item.className="grey ui fluid card"
            item.id = people[i];
            if (selected == people[i]) {
                item.style = "background-color: #c0c0c0"
            }
            var content = document.createElement('div');
            content.className="content"
            content.id = people[i];
            var header = document.createElement('div');
            header.className="header"
            header.appendChild(document.createTextNode(people[i] + " (" + people[i] + ")"));
            header.id = people[i];
            content.appendChild(header);

            console.log(item);
            
            item.onclick = function(event){
                if (selected == event.srcElement.id) {
                    selected = event.srcElement.id;
                } else {
                    selected = event.srcElement.id;
                }
                displayPies(selected);
                var elements = document.getElementsByClassName("grey ui fluid card");
                elements = Array.from(elements);
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].id == event.srcElement.id) {
                        elements[i].style = "background-color: #c0c0c0"
                    } else {
                        elements[i].style = ""
                    }
                }
                //alert(event.srcElement.id);
                
            }
            item.appendChild(content);
            // Add it to the list:
            list.appendChild(item);
        }
        //console.log(people);
        // Finally, return the constructed list:

        $("#actualList").replaceWith(list);

      }

      data = {};
      
      getUsers();
    </script>
  </body>
</html>
