<html>
  <head>
      <title>Bose</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
  </head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  
  <script src="js/pies.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>


  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  
  <body>
    <div class="ui inverted secondary pointing menu">
      <a class="active item">
        Bose
      </a>
    </div>
    <div class="ui padded grid">
      <div class="twelve wide column">
        <div class="ui three column grid">
          <div class="column">
            <div class="ui raised fluid card">
              <div class="content">
                <div class="description">
                    <svg id="company"></svg>
                </div>
              </div>
          </div>
        </div>
        <div class="column">
            <div class="ui raised fluid card">
              <div class="content">
                <div class="description">
                    <svg id="device"></svg>
                </div>
              </div>
          </div>
        </div>
        <div class="column">
            <div class="ui raised fluid card">
                <div class="content">
                  <div class="header">Your Top Songs</div>
                  <div id="top_songs" class="description">
                  </div>
                </div>
              </div>
        </div>
        </div>
        <div class="ui two column grid">
        <div class="column">
            <div class="ui raised fluid card">
                <div class="content">
                  <!--<svg id="hist"></svg>-->
                  <div id="linechart"></div>
                  </div>
                </div>
              </div>
              <div class="column">
                  <div class="ui raised fluid card">
                      <div class="content">
                        <!--<svg id="hist"></svg>-->
                        <div id="linechart1"></div>
                        </div>
                      </div>
                    </div>
        </div>
       
        </div>
          <!--<div id="video_box">
              <img id="apple" src="assets/apple.png"/>
              <img id="samsung" src="assets/samsung.png"/>
              <img id="lg" src="assets/lg.png"/>
              <img id="iphonex" class="phone" style="left:200; bottom:380;" src="assets/phone.png"/>
              <span class="phone" style="left:200; bottom:380;">G7</span>
              <img id="video_overlays"/>
              <div>
                  <video id="video" loop autoplay width="960" height="540" >
                      //!<-- <source src="output.avi" type="video/avi"> --
                      <source src="assets/final.mp4" type="video/mp4"> 
                  </video>
              </div>
          </div>-->
          
          <!--
          <div style="width: 100%; overflow: hidden;">
            <div style="width: 500px; float: left;"> 
                <svg id="company" width="100%" height="10%"></svg>
             </div>
            <div style="margin-left: 520px;"> 
                <svg id="device" width="100%" height="10%"></svg> 
            </div>
          </div>-->

      <div class="four wide column centered">
        <div id="cardList" style="height: 100%; overflow: hidden;">
          <div class="ui list" id="actualList">
          </div>
        </div>
      </div>
    </div>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/histogram.js"></script>
    <script src="js/linechart.js"></script>
    <script src="js/bose.js"></script>
    

    <script>


      var selected = undefined;
      function updatePeople(people) {
        selected = people[0];
        displayPies(selected);
        var list = document.createElement('div');
        list.className="ui list";
        list.id="actualList";
        list.style="height: 100%;overflow: hidden;padding: 10px;";

        for(var i = 0; i < people.length; i++) {
            // Create the list item:
            var item = document.createElement('div');
            item.className="grey ui fluid card"
            item.id = people[i];
            if (selected == people[i]) {
                item.style = "background-color: #c0c0c0"
            }
            var content = document.createElement('div');
            content.className="content"
            content.id = people[i];
            var header = document.createElement('div');
            header.className="header"
            header.appendChild(document.createTextNode(people[i] + " (" + people[i] + ")"));
            header.id = people[i];
            var desc = document.createElement('div');
            desc.className="description";
            var descrip = "Phone Number: "+ people[i].phone;
            desc.appendChild(document.createTextNode(descrip));
            desc.id = people[i];

            var desc1 = document.createElement('div');
            desc1.className="description";
            var descrip1 = "Email: " + people[i].email;
            desc1.id = people[i];
            desc1.appendChild(document.createTextNode(descrip1));
            content.appendChild(header);
            content.appendChild(desc);
            content.appendChild(desc1);

            console.log(item);
            
            item.onclick = function(event){
                if (selected == event.srcElement.id) {
                    selected = event.srcElement.id;
                } else {
                    selected = event.srcElement.id;
                }
                displayPies(selected);
                var elements = document.getElementsByClassName("grey ui fluid card");
                elements = Array.from(elements);
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].id == event.srcElement.id) {
                        elements[i].style = "background-color: #c0c0c0"
                    } else {
                        elements[i].style = ""
                    }
                }
                //alert(event.srcElement.id);
                
            }
            item.appendChild(content);
            // Add it to the list:
            list.appendChild(item);
        }
        //console.log(people);
        // Finally, return the constructed list:

        $("#actualList").replaceWith(list);

      }

      data = {};
      
      getUsers();
    </script>
  </body>
</html>
